:root {
    /*Board border*/
    --border: 1rem solid #000000;
}

body {
    background-color: #40B1BD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #ffffff;
    height: 43rem;
    width: 80rem;
    margin-top: 5vh;
    display: grid;
    grid-template-columns: 40% 60%;
}

.play_card {
    display: flex;
    align-items: center;
    justify-content: center;
}

#play_now {
    font-size: 5rem;
    background-color: #40B1BD;
    border: 0.75rem solid #000000;
    border-radius: 5rem;
    padding: 1.5rem;
}

#play_now:hover {
    color: #ffffff;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 7%;
}

#square1 {
    border-right: var(--border); border-bottom: var(--border);
}

#square2 {
    border-left: var(--border); border-right: var(--border); border-bottom: var(--border);
}

#square3 {
    border-left: var(--border); border-bottom: var(--border);
}

#square4 {
   border-top: var(--border); border-right: var(--border); border-bottom: var(--border);
}

#square5 {
    border: var(--border);
}

#square6 {
   border-top: var(--border); border-left: var(--border); border-bottom: var(--border);
}

#square7 {
    border-top: var(--border); border-right: var(--border);
}

#square8 {
  border-left: var(--border); border-top: var(--border); border-right: var(--border); 
}

#square9 {
   border-top: var(--border); border-left: var(--border);
}



