:root {
    /*vertical lines*/
    --line-color: #000000;
    --line-height-vert: 70%;
    --line-width-vert: 2%;
    --border-radius: 5rem;

    /*horizontal lines*/
    --line-height-horz: 3.721%;
    --line-width-horz: 55%; 
}

body {
    background-color: #40B1BD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #ffffff;
    height: 43rem;
    width: 80rem;
    margin-top: 5vh;
}

#vert1 {
    background-color: var(--line-color);
    height: var(--line-height-vert);
    width: var(--line-width-vert);
    border-radius: var(--border-radius);
    margin-top: 8%;
    margin-left: 40%;
}

#vert2 {
    background-color: var(--line-color);
    height: var(--line-height-vert);
    width: var(--line-width-vert);
    border-radius: var(--border-radius);
    margin-top: -37.65%;
    margin-left: 60%;
}

#horz1 {
    background-color: var(--line-color);
    height: var(--line-height-horz);
    width: var(--line-width-horz);
    border-radius: var(--border-radius);
    margin-top: -28%;
    margin-left: 24%;
}

#horz2 {
    background-color: var(--line-color);
    height: var(--line-height-horz);
    width: var(--line-width-horz);
    border-radius: var(--border-radius);
    margin-top: 15%;
    margin-left: 24%;
}



